<div class="header" fxLayout="row" fxLayoutAlign="start center">
  <button class="btn-menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vertical</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/project']">
      <button mat-menu-item>
        <mat-icon>work</mat-icon>
        <span>Projects</span>
      </button>
    </a>
    <a [routerLink]="['/user']">
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>Employee</span>
      </button>
    </a>
  </mat-menu>
  <div class="title-container">
    <div class="title" fxLayoutAlign="center">
      <a [routerLink]="['']">Projex</a>
    </div>
  </div>
</div>
<div class="header-container"></div>
<router-outlet></router-outlet>

