<div class="header" fxLayout="row" fxLayoutAlign="start center">
  <button class="btn-menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vertical</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>work</mat-icon>
      <span><a [routerLink]="['/project']">Projects</a></span>
    </button>
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      <span><a [routerLink]="['/user']">Employee</a></span>
    </button>
  </mat-menu>
  <div>
    <div class="title" fxFlexAlign="center" fxFlexOffset="150px">
      <a [routerLink]="['']">Projex</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

