<form [formGroup]="projForm" class="prj-form" fxLayout.xs="column" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between" (ngSubmit)="submit(projForm.value)" >
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Team Leader Email" formControlName="boss" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput #inpStart [max]="inpFinish.value" [matDatepicker]="start" formControlName="start" placeholder="Start Date" required>
    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
    <mat-datepicker #start></mat-datepicker>
  </mat-form-field>
  {{inpFinish.value}}<br/>
  {{inpStart.value}}
  <mat-form-field>
    <input matInput #inpFinish [min]="inpStart.value" [matDatepicker]="finish" formControlName="finish" placeholder="Finish Date" required>
    <mat-datepicker-toggle matSuffix [for]="finish"></mat-datepicker-toggle>
    <mat-datepicker #finish></mat-datepicker>
  </mat-form-field>
  <mat-form-field  fxFlex="100">
    <textarea matInput placeholder="Description" formControlName="description" required></textarea>
  </mat-form-field>
  <div formGroupName="team" fxLayout="row" fxLayoutAlign="space-between" fxFlex="100">
    <mat-form-field fxFlex="45">
      <mat-select placeholder="Team Member">
        <mat-option *ngFor="let user of userList" [value]="user">
          {{user.email}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="45">
      <mat-select placeholder="Workload">
        <mat-option *ngFor="let hours of day" [value]="hours">
          {{hours}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field fxFlex="50">
      <input matInput placeholder="Member Email" formControlName="member">
    </mat-form-field>
    <mat-form-field fxFlex="50">
      <input matInput placeholder="Workload" formControlName="timeSpend">
    </mat-form-field>
    <div fxFLex="50" fxLayoutWrap>
      <button fxFlex="50" mat-raised-button color="primary">Submit</button>
    </div> -->
  </div>
</form>