.btn {
	cursor : pointer ;
}

.prj-search {
	height: 100px;
	font-size: 24px;
}

.prj-card {
	width: 350px;
  height: 100px;
	margin: 20px;
}

.title{
	margin: 5px 0 ;
}
	
.btn-card {
	margin : 3px;
}

.btn-info {
	cursor : pointer;
}

.content {
	min-height: 600px
}

.side {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 35%;
}

.btn-add {
	margin: 5px;
	position: fixed;
	z-index: 100;
}

@media screen and (max-width: 800px) {
	.side {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.prj-card {
		width: 80%;
	}
}