<div class="project-list" fxLayout="column" fxLayoutAlign="center">
  <a >add New</a>
  <!-- <router-outlet></router-outlet> -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <p>EOQ!!!!</p>
      <router-outlet></router-outlet>
    </mat-sidenav>
    <mat-sidenav-content>
      <div (click)="sidenav.toggle()" [routerLink]="['/project/new']">CLICA!!!!</div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-list>

    <div *ngFor="let project of projectList">
      <mat-list-item>
        <a (click)="edit(project._id)">Edit</a>
        <p>{{project.name}}</p>
        <br/>
        <p>{{project.description}}</p>
        <a (click)="delete(project._id)">Delete</a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>