html{
	width: 100%;
	font-family: 'Fjalla One', sans-serif;
}

body {
/*	background-image: url('../img/bg-blue.jpg');
	background-repeat: repeat;
	background-size: cover;*/
	margin: 0;
	background-color: #979b8f
;
	/*color: #a0fff8;*/
}

header {
	width: 98%;
	background-color: rgba(45, 18, 81, .4);
	padding: 20px 0;
	color: #cecece;
	/*color: inherit;*/
	text-align: center;
}

section {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

section .calc {
	width: 200px;
	height: 400px;
	background-color: #dbe0d0;
	color: white;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 100px;
	margin-bottom: 40px;
	border-radius: 30px;
	box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.75);
}
.output {
	margin: 20px 0;
	width: 80%;
	height: 100px;
	background-color: #282827;
	font-size: 22px;
	text-align: right;
	padding-right: 20px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	overflow: hidden; 
}

.inner-output {
	overflow: hidden;
	background-color: #000000;
	width: 70%;
	height: 20px;
	color: inherit;
	font-size: 16px;
	text-align: left;
	margin-top: 1px;
	margin-left: 2px;
	padding-top: 2px;
	padding-left: 20px;

}

.btn {
	cursor: pointer;
	line-height: 1.7;
	text-align: center;
	width: 15%;
	height: 30px;
	margin: 0;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, .8);
	color: rgb(0, 0, 0);	
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

}

.btn:hover{
	background-color: #b7b9bc !important;
}


.inner-btn {
	margin-top: 6px;
}