<form [formGroup]="userForm" class="usr-form" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around">
  <mat-form-field class="form-item">
    <input matInput  placeholder="Name" formControlName="name" required>
  </mat-form-field>
  <mat-form-field class="form-item">
    <input matInput  placeholder="Email" formControlName="email" required>
  </mat-form-field>
  <mat-form-field class="form-item">
    <input matInput placeholder="Phone" formControlName="phone" required>
  </mat-form-field>
  <mat-form-field class="form-item">
    <input matInput placeholder="birth" formControlName="birth" required>
  </mat-form-field>
  <mat-form-field class="form-item">
    <input matInput placeholder="Work Load" formControlName="workload" required>
  </mat-form-field>
  <mat-form-field class="form-item">
    <input matInput placeholder="Scholarity" formControlName="scholarity" required>
  </mat-form-field>
</form>