.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, .4);
  box-shadow: 5px 5px 5px #8f939b;
  font-size: 18px;
  color: #3d5f5f;
  transition-duration: 0.25s;
}

.item-container .done {
  background-color: #4efccb;  
}

.item-content {
  width: 15%;
  overflow: hidden;
}

.item-container input {
  display: none;
}

.item-container i {
  font-size: 22px;
  margin: 0 30px;
}

.item-content:hover{
  overflow: visible;
  overflow-wrap: break-word;
  z-index: 1000;
}

.button {
  cursor: pointer;
}

.button:hover {
  color: #7fc7c7;
}

.flag {
  width: 3%;
  height: 59px;
  background-color: white;
}